/*
Title: bydcore css by bydcode S.C.
Description: bydcore CSS is the property of bydcode as an Core Cascade Style Sheet code for templates/themes made for commercial use.
Time/Date Created: 13:12 GMT+1 / Saturday 14, November, 2015
Version: 0.1.1
Revision: 12
*/

/* Full/Boxed Core */
body  {
  margin: 0;
  padding: 0;
  /* Do not hardcode background-image, background-color, color etc. body is treated as static */
}

.col  {
  width: 100%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.col2 {
  width: 48%;
  padding: 0 1%;
}

.col3 {
 width: 31%;
 padding: 0 1%;
}

.col4 {
 width: 23%;
 padding: 0 1%;
}

.col5 {
 width: 18%;
 padding: 0 1%;
}

.col6 {
 width: 14.6%;
 padding: 0 1%;
}

a:link,
a:visited {
  color: #2E94D9;
  text-decoration: none;
}

a:hover {
  color: #297DB4;
  text-decoration: underline;;
}

/* Full Width Core */
.rowf  {
  width: 100%;
  margin: 0 auto;
  padding: 50px 0; /* Padding top/bottom may be adjusted to clients needs */
}

/* Boxed Width Core - 1024px(can be adjusted to clients needs, minimal width = 960px) */
.rowb {
  width: 1024px;
  min-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0; /* Padding top/bottom may be adjusted to clients needs */
}
