/*
Title: bydcore css by bydcode S.C.
Description: bydcore CSS is the property of bydcode as an Core Cascade Style Sheet code for templates/themes made for commercial use.
Time/Date Created: 13:12 GMT+1 / Saturday 14, November, 2015
Version: 0.0.1
Revision: 1
*/

/* Full Width Core */
